/* Body */

body {
   background-color: #B8D8AA;
   height: 100vh;
   font-family: "Mukta", sans-serif;
}

.leftContainer{
   background-color: rgb(255, 255, 255, .6);
   height: 35em;
   width: 25em;
   border-radius: 2rem;
   float: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding-right: 2em;
   padding-left: 2em;
   margin-bottom: 2em;
}

.p1 {
font-size: 30px;
}

.para{
   margin-top: 0rem;
}

.leftContainer h1{
   margin-top: -14px;
   font-size: 3.5em;
}

.leftContainer h2{
   margin-top: -60px;
   margin-bottom: 1em;
   font-size: 2em;
}

.leftContainer h3{
   margin-top: -1em;
   margin-bottom: 0em;
   font-size: 1.5em;
} 


.leftContainer p{
   font-size: 15px;
   margin-top: -.25em;
}

.Bold{
   font-size: 20px;
}

.button{
   height: 2.5em;
   width: 15em;
   position: relative;
   left: 2.5em;
   font-size: 1em;
}

button{
   width: 25em;
   border-radius: 2em;
   position: relative;
   cursor: pointer;
   background-color: #CBC3E3;
   border: solid black 2px;
}

button:hover{
   transform: scale(1.05);
   transition: ease .2s;
}

/* Containers */
.appContainer {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: flex-end;
   gap: 1.5em
}

.cardContainer {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   gap: 1.9em;
   flex-direction: row;
}

.dropContainer {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   gap: 1.5em;
   flex-direction: row;
}

.fillSpace {
   width: 15em;
   height: 15em;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   gap: 1.9rem;
   flex-direction: row;
   border-radius: 2rem;
}

/* Cards */

.empty {
   height: 15em;
   width: 15em;
   display: inline-block;
   border: solid 2px #B8D8AA;
   border-radius: 2rem;
   background-color: rgb(128, 128, 128, .5);
}

.contentCard {
   width: 15em;
   height: 15em;
   background-color: #CBC3E3;
   border: solid 2px black;
   border-radius: 2rem;
   box-shadow: 10px 5px 5px gray;
   cursor: pointer;
}

.contentCard:hover {
   transform: scale(1.05);
   transition: ease .2s;
}

/* Card Content */

.content{
   display: flex;
   justify-content: center;
}

h1 {
   margin-top: 1rem;
   font-size: 2.5rem;
}

img {
   margin-top: -2rem;
    margin-left: 2.25rem;
    display: flex;
    height: 10rem;
    justify-content: center;
   }
   
   


/* Choices Content */

.choicesContainer{
   width: 24.25em;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   font-size: 2rem;
   margin-top: -4rem;
   margin-right: .7rem;
}

/* Drag and Drop Classes */

.hold {
   border: dotted black;
}

 .invisible {
    display: none;
 }

 iframe{
    display:none;
 }
